body {
    background-image: url(https://www.itl.cat/pics/b/24/242608_book-wallpaper.jpg);
    color: bisque;
    font-family: sans-serif;
    text-align: center;
}

.to-read {
    width: 680px;
    margin: auto;
    text-align: left;
}
.already-read {
    margin: auto;
    text-align: left;
}

.books-list {
    list-style: none;
}

.button {
    color: bisque;
    text-decoration: none;
    font-size: 22px;
}

.button:hover {
    text-decoration: underline;
}