body {
    background-image: url(https://www.itl.cat/pics/b/24/242608_book-wallpaper.jpg);
    color: bisque;
    font-family: sans-serif;
    text-align: center;
}
form {
    margin: 5px;
    display: ruby-base-container;
}
label {
    display: ruby-text;
}
input {
    margin: inherit;
    margin-top: 10px;
    cursor: pointer;
}
.read {
    width: 680px;
    margin: auto;
    text-align: left;
}
.books-list {
    list-style: none;
}

.button {
    color: bisque;
    text-decoration: none;
    font-size: 22px;
}

.button:hover {
    text-decoration: underline;
}
li {
    list-style: none;
    text-align: left;
}

h2 {
    text-align: left;
    color: bisque;
}

form {
    text-align: left;
}

.already-read{
    text-align: left;
    color: bisque;
}
.to-read {
    text-align: left;
}
